<p style="color: green"><%= notice %></p>

<% content_for :title, "Stadia" %>

<h1>Stadia</h1>

<div id="stadia">
  <% @stadia.each do |stadium| %>
    <%= tag.div(id: dom_id(stadium), class: [index_record_base_classes, stadium_index_record_classes].join(' ')) do %>
  <%= render stadium %>
<% end %>
    <p>
      <%= link_to "Show this stadium", stadium %>
    </p>
  <% end %>
</div>

<%= link_to "New stadium", new_stadium_path %>
