<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mascot, style: "display: block" %>
    <%= form.text_field :mascot %>
  </div>

  <div>
    <%= form.label :territory, style: "display: block" %>
    <%= form.text_field :territory %>
  </div>

  <div>
    <%= form.label :league_id, style: "display: block" %>
    <%= form.text_field :league_id %>
  </div>

  <div>
    <%= form.label :stadium_id, style: "display: block" %>
    <%= form.text_field :stadium_id %>
  </div>

  <div>
    <%= form.label :founded_year, style: "display: block" %>
    <%= form.number_field :founded_year %>
  </div>

  <div>
    <%= form.label :abbreviation, style: "display: block" %>
    <%= form.text_field :abbreviation %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :logo_url, style: "display: block" %>
    <%= form.text_field :logo_url %>
  </div>

  <div>
    <%= form.label :primary_color, style: "display: block" %>
    <%= form.text_field :primary_color %>
  </div>

  <div>
    <%= form.label :secondary_color, style: "display: block" %>
    <%= form.text_field :secondary_color %>
  </div>

  <div>
    <%= form.label :coach_name, style: "display: block" %>
    <%= form.text_field :coach_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
