<div id="<%= dom_id team %>">
  <p>
    <strong>Mascot:</strong>
    <%= team.mascot %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= team.territory %>
  </p>

  <p>
    <strong>League:</strong>
    <%= team.league_id %>
  </p>

  <p>
    <strong>Stadium:</strong>
    <%= team.stadium_id %>
  </p>

  <p>
    <strong>Founded year:</strong>
    <%= team.founded_year %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= team.abbreviation %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= team.url %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= team.logo_url %>
  </p>

  <p>
    <strong>Primary color:</strong>
    <%= team.primary_color %>
  </p>

  <p>
    <strong>Secondary color:</strong>
    <%= team.secondary_color %>
  </p>

</div>
