<% content_for :title, @team.name %>

<p style="color: green"><%= notice %></p>

<h1><%= @team.name %></h1>
<%= link_to_name @team.stadium %>

<%= tag.div(id: dom_id(@team, :players_on), class: '') do %>
  <h2>Players</h2>
  <% @team.players.each do |player| %>
    <%= link_to_name player %>
  <% end %>
<% end %>
