<p style="color: green"><%= notice %></p>

<% content_for :title, "Memberships" %>

<h1>Memberships</h1>

<div id="memberships">
  <% @memberships.each do |membership| %>
    <%= tag.div(id: dom_id(membership), class: "index-record") do %>
      <div class="membership-status <%= membership.active? ? 'active' : 'inactive' %>">
        <%= membership.active? ? 'Active' : 'Inactive' %>
      </div>
      <%= display_name_with_lazy_logo membership.team %>
      <%= display_name_with_lazy_logo membership.division %>
      <%= display_name_with_lazy_logo membership.conference %>
      <div class="membership-dates">
        <%= membership.start_date&.strftime('%Y-%m-%d') %> to <%= membership.end_date&.strftime('%Y-%m-%d') || 'Present' %>
      </div>
      <%= link_to "View", membership %>
    <% end %>
  <% end %>
</div>
