<p style="color: green"><%= notice %></p>

<% content_for :title, "Memberships" %>

<h1>Memberships</h1>

<div id="memberships">
  <% @memberships.each do |membership| %>
    <%= tag.div(id: dom_id(membership), class: [index_record_base_classes, membership_index_record_classes].join(' ')) do %>
      <div class="membership-status <%= membership.active? ? 'active' : 'inactive' %>">
        <%= membership.active? ? 'Active' : 'Inactive' %>
      </div>
      <%= link_to membership.team.name, membership.team %>
      <%= link_to membership.division.name, membership.division %>
      <%= link_to membership.division.conference.name, membership.division.conference %>
      <div class="membership-dates">
        <%= membership.start_date&.strftime('%Y-%m-%d') %> to <%= membership.end_date&.strftime('%Y-%m-%d') || 'Present' %>
      </div>
      <%= link_to "View", membership %>
    <% end %>
  <% end %>
</div>

<div class="actions">
  <%= link_to "New membership", new_membership_path, class: "button" %>
</div>
