<p style="color: green"><%= notice %></p>

<% content_for :title, "#{@membership.team.name} in #{@membership.division.name}" %>

<%= tag.header "#{@membership.team.name} in #{@membership.division.name}", class: "membership-title" %>

<%= tag.div class: "membership-details" do %>
  <%= display_name_with_lazy_logo @membership.team %>
  <%= display_name_with_lazy_logo @membership.division %>
  <%= display_name_with_lazy_logo @membership.conference %>
  <%= display_name_with_lazy_logo @membership.league %>
<% end %>
