<% if flash[:alert].present? %>
  <div class="flash-message alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<!-- Filter indicators section -->
<div class="filter-indicators">
  <% if @team_id.present? %>
    <div class="filter-indicator">
      <div class="filter-badge">
        <span class="filter-label">Team:</span>
        <% team = Team.find_by(id: @team_id) %>
        <span class="filter-value"><%= team ? "#{team.territory} #{team.mascot}" : "Unknown Team" %></span>
        <% 
          # Create a hash of the current filter parameters, excluding team_id
          clear_params = {
            phase: @phase,
            sport_id: @sport_id,
            league_id: @league_id,
            include_inactive: @include_inactive
          }.compact # Remove nil values
        %>
        <%= link_to strength_phased_repetition_path(clear_params), class: "filter-clear", title: "Clear team filter" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <% if @sport_id.present? %>
    <div class="filter-indicator">
      <div class="filter-badge">
        <span class="filter-label">Sport:</span>
        <% sport = Sport.find_by(id: @sport_id) %>
        <span class="filter-value"><%= sport ? sport.name : "Unknown Sport" %></span>
        <% 
          # Create a hash of the current filter parameters, excluding sport_id
          clear_params = {
            phase: @phase,
            team_id: @team_id,
            league_id: @league_id,
            include_inactive: @include_inactive
          }.compact # Remove nil values
        %>
        <%= link_to strength_phased_repetition_path(clear_params), class: "filter-clear", title: "Clear sport filter" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="player-info" 
  data-controller="name-pulse"
  data-name-pulse-sequence-value='{
    "initialDelay": 1000,
    "firstName": {
      "growDuration": 500,
      "holdDuration": 500
    },
    "pause": 800,
    "lastName": {
      "growDuration": 800,
      "holdDuration": 800
    }
  }'>
  <%= tag.div(@current_player.first_name, 
              id: dom_id(@current_player, :first_name_of), 
              class: "name-part first-name",
              data: { name_pulse_target: "firstName" }) %>
  <%= tag.div(@current_player.last_name, 
              id: dom_id(@current_player, :last_name_of), 
              class: "name-part last-name",
              data: { name_pulse_target: "lastName" }) %>
  <%= tag.div("is on the ", id: dom_id(@current_player, :is_on_the)) %>
  <%= tag.div(link_to_name(@current_player.team), id: dom_id(@current_player, :team_of)) %>
</div>

<div class="next-button-container">
  <% 
    # Create a hash of the current filter parameters
    filter_params = {
      phase: @phase
    }
    
    # Only add parameters that are present
    filter_params[:team_id] = @team_id if @team_id.present?
    filter_params[:sport_id] = @sport_id if @sport_id.present?
    filter_params[:league_id] = @league_id if @league_id.present?
    filter_params[:include_inactive] = @include_inactive if @include_inactive.present?
  %>
  
  <%= link_to strength_phased_repetition_path(filter_params), 
      class: "next-button", 
      data: { turbo_frame: "_top" } do %>
    <span>Next Player</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M5 12h14"></path>
      <path d="m12 5 7 7-7 7"></path>
    </svg>
  <% end %>
</div>
