<div id="<%= dom_id league %>">
  <p>
    <strong>Name:</strong>
    <%= league.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= league.url %>
  </p>

  <p>
    <strong>Ios app url:</strong>
    <%= league.ios_app_url %>
  </p>

  <p>
    <strong>Year of origin:</strong>
    <%= league.year_of_origin %>
  </p>

  <p>
    <strong>Official rules url:</strong>
    <%= league.official_rules_url %>
  </p>

  <p>
    <strong>Sport:</strong>
    <%= league.sport_id %>
  </p>

</div>
