<p style="color: green"><%= notice %></p>

<% content_for :title, "Leagues" %>

<h1>Leagues</h1>

<div id="leagues">
  <% @leagues.each do |league| %>
    <%= tag.div(id: dom_id(league), class: [index_record_base_classes, league_index_record_classes].join(' ')) do %>
  <%= render league %>
<% end %>
    <p>
      <%= link_to "Show this league", league %>
    </p>
  <% end %>
</div>

<%= link_to "New league", new_league_path %>
