<p style="color: green"><%= notice %></p>

<% content_for :title, "Leagues" %>

<div id="leagues">
  <% @leagues.each do |league| %>
    <%= tag.div(id: dom_id(league), class: [index_record_base_classes, league_index_record_classes].join(' ')) do %>
      <%= display_name_with_lazy_logo(league) %>
      <%= link_to pluralize(league.teams.count, "team"), [league, :teams] %>
      <%= link_to pluralize(league.players.count, "player"), [league, :players] %>
      <%= link_to_name league.jurisdiction %>
      <%= display_name_with_lazy_logo(league.sport, logo_attribute: :icon_url) %>
    <% end %>
  <% end %>
</div>
