<p style="color: green"><%= notice %></p>

<% content_for :title, "Sports" %>

<div id="sports">
  <% @sports.each do |sport| %>
    <%= tag.div(id: dom_id(sport), class: [index_record_base_classes, sport_index_record_classes].join(' ')) do %>
      <%= link_to sport do %>
        <%= display_name_with_lazy_logo(sport, logo_attribute: :icon_url) %>
      <% end %>
      <%= link_to pluralize(sport.leagues.count, "league"), [sport, :leagues] %>
      <%= link_to pluralize(sport.teams.count, "team"), [sport, :teams] %>
      <%= link_to pluralize(sport.players.count, "player"), [sport, :players] %>
    <% end %>
  <% end %>
</div>
