<p style="color: green"><%= notice %></p>

<% content_for :title, "Sports" %>

<h1>Sports</h1>

<div id="sports">
  <% @sports.each do |sport| %>
    <%= tag.div(id: dom_id(sport), class: [index_record_base_classes, sport_index_record_classes].join(' ')) do %>
  <%= render sport %>
<% end %>
    <p>
      <%= link_to "Show this sport", sport %>
    </p>
  <% end %>
</div>

<%= link_to "New sport", new_sport_path %>
