<p style="color: green"><%= notice %></p>

<% content_for :title, "States" %>

<h1>States</h1>

<div id="states">
  <% @states.each do |state| %>
    <%= tag.div(id: dom_id(state), class: [index_record_base_classes, state_index_record_classes].join(' ')) do %>
      <%= display_name_with_lazy_logo state %>
      <%= link_to pluralize(state.cities.count, "city"), [state, :cities] %>
      
      <%= link_to pluralize(state.stadiums.count, "stadium"), [state, :stadiums] %>
      <%= link_to pluralize(state.teams.count, "team"), [state, :teams] %>
      <%= link_to pluralize(state.players.count, "player"), [state, :players] %>
      <%= display_name_with_lazy_logo state.country %>
    <% end %>
  <% end %>
</div>
