<%= form_with(model: conference) do |form| %>
  <% if conference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
        <% conference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation %>
  </div>

  <div class="field">
    <%= form.label :logo_url %>
    <%= form.text_field :logo_url %>
  </div>

  <div class="field">
    <%= form.label :league_id %>
    <%= form.collection_select :league_id, @leagues, :id, :name, { prompt: "Select a league" } %>
  </div>

  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>
