<% content_for :title, "Conferences" %>

<h1>Conferences</h1>

<div class="mb-4 text-center">
  <%= link_to "Play: Guess the Division", new_division_game_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<div id="conferences">
  <% @conferences.each do |conference| %>
    <%= tag.div(id: dom_id(conference), class: "index-record") do %>
      <%= display_name_with_lazy_logo conference %>
      <%= display_name_with_lazy_logo conference.league %>
      <%= association_links conference %>
      <% if conference.teams.any? %>
        <%= quiz_link(conference, title: "Test your knowledge of teams in #{conference.name}") %>
      <% end %>
    <% end %>
  <% end %>
</div>
