<% content_for :title, "Conferences" %>

<h1>Conferences</h1>

<div class="mb-4 text-center">
  <%= link_to "Play: Guess the Division", new_division_game_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<div id="conferences">
  <% @conferences.each do |conference| %>
    <%= tag.div(id: dom_id(conference), class: [index_record_base_classes, conference_index_record_classes].join(' ')) do %>
      <%= display_name_with_lazy_logo(conference) %>
      <%= link_to conference.league.name, conference.league %>
      <%= link_to pluralize(conference.divisions.count, "division"), [conference, :divisions] %>
      <%= link_to pluralize(conference.teams.count, "team"), [conference, :teams] %>
      <% if conference.teams.any? %>
        <%= link_to "Quiz Me", conference_strength_team_match_path(conference), class: "quiz-button", title: "Test your knowledge of teams in #{conference.name}" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="actions">
  <%= link_to "New conference", new_conference_path, class: "button" %>
</div>
