
<% content_for :title, "Divisions" %>

<%= render_floating_spectrum_picker %>

<div id="divisions">
  <% @divisions.each do |division| %>
    <%= tag.div(id: dom_id(division), class: "index-record") do %>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        <div class="division-info">
          <%= display_name_with_lazy_logo division %>
          <%= display_name_with_lazy_logo division.conference %>
          <%= display_name_with_lazy_logo division.league %>
        </div>
        
        <%= rating_slider_container(division, selected_spectrums) %>

        <%= association_links division %>
        <%= quiz_link division, title: "Test your knowledge of teams in this division" %>
      </div>
    <% end %>
  <% end %>
</div>
