<% content_for :title, "Divisions" %>

<%= division_sort_links %>

<%= render_floating_spectrum_picker %>

<div id="divisions">
  <% @divisions.each do |division| %>
    <%= tag.div id: dom_id(division), class: "index-record" do %>
      <%= logo_bank_for division %>      
      <%= rating_slider_container division, selected_spectrums %>
      <%= association_links division %>
      <%= quiz_link division, title: "Test your knowledge of teams in this division" %>
    <% end %>
  <% end %>
</div>
