<div id="<%= dom_id federation %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= federation.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Abbreviation:</strong>
    <%= federation.abbreviation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= federation.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= federation.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Logo url:</strong>
    <%= federation.logo_url %>
  </div>
</div>
