<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :nicknames, style: "display: block" %>
    <%= form.text_field :nicknames %>
  </div>

  <div>
    <%= form.label :birthdate, style: "display: block" %>
    <%= form.date_field :birthdate %>
  </div>

  <div>
    <%= form.label :birth_city_id, style: "display: block" %>
    <%= form.text_field :birth_city_id %>
  </div>

  <div>
    <%= form.label :birth_country_id, style: "display: block" %>
    <%= form.text_field :birth_country_id %>
  </div>

  <div>
    <%= form.label :current_position, style: "display: block" %>
    <%= form.text_field :current_position %>
  </div>

  <div>
    <%= form.label :debut_year, style: "display: block" %>
    <%= form.number_field :debut_year %>
  </div>

  <div>
    <%= form.label :draft_year, style: "display: block" %>
    <%= form.number_field :draft_year %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.checkbox :active %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.textarea :bio %>
  </div>

  <div>
    <%= form.label :photo_urls, style: "display: block" %>
    <%= form.textarea :photo_urls %>
  </div>

  <div>
    <%= form.label :team_id, style: "display: block" %>
    <%= form.text_field :team_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
