<div id="<%= dom_id player %>">
  <p>
    <strong>First name:</strong>
    <%= player.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= player.last_name %>
  </p>

  <p>
    <strong>Nicknames:</strong>
    <%= player.nicknames %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= player.birthdate %>
  </p>

  <p>
    <strong>Birth city:</strong>
    <%= player.birth_city_id %>
  </p>

  <p>
    <strong>Birth country:</strong>
    <%= player.birth_country_id %>
  </p>

  <p>
    <strong>Height ft:</strong>
    <%= player.height_ft %>
  </p>

  <p>
    <strong>Height in:</strong>
    <%= player.height_in %>
  </p>

  <p>
    <strong>Weight lb:</strong>
    <%= player.weight_lb %>
  </p>

  <p>
    <strong>Jersey number:</strong>
    <%= player.jersey_number %>
  </p>

  <p>
    <strong>Current position:</strong>
    <%= player.current_position %>
  </p>

  <p>
    <strong>Debut year:</strong>
    <%= player.debut_year %>
  </p>

  <p>
    <strong>Draft year:</strong>
    <%= player.draft_year %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= player.active %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= player.bio %>
  </p>

  <p>
    <strong>Photo urls:</strong>
    <%= player.photo_urls %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

</div>
