<p style="color: green"><%= notice %></p>

<% content_for :title, "Players" %>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>
    <%= tag.div(id: dom_id(player), class: [index_record_base_classes, player_index_record_classes].join(' ')) do %>
      <%= link_to_name player %>
      <%= link_to_name player.team %>
    <% end %>
  <% end %>
</div>

<%= pagy_nav(@pagy).html_safe %>

<%= link_to "New player", new_player_path %>
