<p style="color: green"><%= notice %></p>

<div class="player-card">
  <!-- Left column: Team and Stadium -->
  <div class="card-section left-section">
    <div class="section-title">Team</div>
    <div class="info-item"><%= link_to_name @player.team, class: 'fadeout-underline' %></div>
    <div class="section-title">Stadium</div>
    <div class="info-item"><%= link_to_name @player.team.stadium, class: 'fadeout-underline' %></div>
  </div>
  
  <!-- Center column: Player Name -->
  <div class="card-section center-section">
    <div class="player-name">
      <div class="name-part"><%= @player.first_name %></div>
      <div class="name-part"><%= @player.last_name %></div>
    </div>
  </div>
  
  <!-- Right column: League and Sport -->
  <div class="card-section right-section">
    <div class="section-title">League</div>
    <div class="info-item"><%= link_to_name @player.league, class: 'fadeout-underline' %></div>
    <div class="section-title">Sport</div>
    <div class="info-item"><%= link_to_name @player.sport, class: 'fadeout-underline' %></div>
  </div>
  
  <!-- Bottom row: City and State -->
  <div class="card-section bottom-section">
    <div class="location-info">
      <div class="info-item"><%= link_to_name @player.team.city, class: 'fadeout-underline' %></div>
      <div class="info-item"><%= link_to_name @player.team.state, class: 'fadeout-underline' %></div>
    </div>
  </div>
</div>
