<p style="color: green"><%= notice %></p>

<% content_for :title, "Countries" %>

<h1>Countries</h1>

<div id="countries">
  <% @countries.each do |country| %>
    <%= tag.div(id: dom_id(country), class: [index_record_base_classes, country_index_record_classes].join(' ')) do %>
      <%= display_name_with_lazy_logo country, logo_attribute: :flag_url %>
      <%= link_to pluralize(country.leagues.count, "league"), [country, :leagues] %>
      <%= link_to pluralize(country.teams.count, "team"), [country, :teams] %>
      <%= link_to pluralize(country.players.count, "player"), [country, :players] %>
      <%= link_to pluralize(country.cities.count, "city"), [country, :cities] %>
      <%= link_to pluralize(country.states.count, "state"), [country, :states] %>
    <% end %>
  <% end %>
</div>
