<p style="color: green"><%= notice %></p>

<% content_for :title, "Cities" %>

<h1>Cities</h1>

<div id="cities">
  <% @cities.each do |city| %>
    <%= tag.div(id: dom_id(city), class: [index_record_base_classes, city_index_record_classes].join(' ')) do %>
  <%= render city %>
<% end %>
    <p>
      <%= link_to "Show this city", city %>
    </p>
  <% end %>
</div>

<%= link_to "New city", new_city_path %>
