<p style="color: green"><%= notice %></p>

<% content_for :title, "Cities" %>

<h1>Cities</h1>

<div id="cities">
  <% @cities.each do |city| %>
    <%= tag.div(id: dom_id(city), class: [index_record_base_classes, city_index_record_classes].join(' ')) do %>
      <%= link_to_name city %>
      <%= link_to_name city.state %>
      <%= link_to_name city.country %>
      <%= link_to pluralize(city.stadiums.count, "stadium"), [city, :stadiums] %>
      <%= link_to pluralize(city.teams.count, "team"), [city, :teams] %>
      <%= link_to pluralize(city.players.count, "player"), [city, :players] %>
    <% end %>
  <% end %>
</div>
