<div id="<%= dom_id stadium %>">
  <p>
    <strong>Name:</strong>
    <%= stadium.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= stadium.city_id %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= stadium.capacity %>
  </p>

  <p>
    <strong>Opened year:</strong>
    <%= stadium.opened_year %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= stadium.url %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= stadium.address %>
  </p>

</div>
