<p style="color: green"><%= notice %></p>

<% content_for :title, "Stadia" %>

<h1>Stadia</h1>

<div id="stadiums">
  <% @stadiums.each do |stadium| %>
    <%= tag.div(id: dom_id(stadium), class: "index-record") do %>
      <%= display_name_with_lazy_logo(stadium) %>
      <%= link_to_name stadium.city %>
      <%= display_name_with_lazy_logo stadium.state, logo_attribute: :flag_url %>
      <%= display_name_with_lazy_logo stadium.country, logo_attribute: :flag_url %>
      <%= association_links(stadium) %>
    <% end %>
  <% end %>
</div>
